body {
    background-color: #E37383;
    border-style: solid;
    border-radius: 6px;
}

h1 {
    color: Maroon;
    text-align-last: center;
    border-radius: 6px;
    margin: 5px;
}

p {
  margin:6px ;
    font-family: "Times New Roman";
    font-size: 20px;
}